
<div id="footerPlacebo"></div>
<footer>© by <a href="mailto:adtechnology@axelspringer.com">AxelSpringer Digital Adtechnology</a></footer>
<div id="popIn">
  <div class="centerer">
    <span>Für die Nutzung des Tools müssen Sie angemeldet sein.</span><br/>
    <span>Bitte melden Sie sich mit Ihren AppNexus-Console Zugangsdaten an: </span>
    <form autocomplete="on" id='loginForm' action='' target="login_target" onFocus="" method="POST" enctype="multipart/form-data">
      <ul>
        <li><label for="user">User: </label><input type="text" id="user"/></li>
        <li><label for="pass">Pass: </label><input type="password" id="pass"/><br/><br/></li>
        <li></li>
        <li><input type="submit" value="Login" /></li>
      </ul>
    </form>
    <br/>
    <div id="popInMessage"></div>
  </div>
</div>
<div class='waiting' id='waiting' style='display:none;'><img src='https://adtechnology.axelspringer.com/assets/img/waiting.gif' /></div>
