<div id="datepicker">
  <ul>
    <li>
      <h3>Datum</h3>
      <select title="daySelector" id="selDay" style="width:50px;" [(ngModel)]="actualSelection.day">
        <option value=""></option>
        <option *ngFor="let day of dayArray">{{day}}</option>
      </select>
      <select title="monthSelector" id="selMonth" style="width:50px;" [(ngModel)]="actualSelection.month">
        <option value=""></option>
        <option *ngFor="let month of monthArray">{{month}}</option>
      </select>
      <select title="yearSelector" id="selYear" style="width:60px;" [(ngModel)]="actualSelection.year">
        <option value=""></option>
        <option *ngFor="let year of yearArray">{{year}}</option>
      </select>
    </li>
  </ul>
</div>
