<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Adman Tools</a>
        <ul>
          <li><a href="/tools/ACE/" target="_top">ACE</a></li>
          <li><a href="/tools/catman/" target="_top">Catman</a></li>
          <li><a href="/tools/previewGenerator/" target="_top">Preview Generator</a></li>
          <li><a href="/tools/checkScript/" target="_top">Redirect Checker</a></li>
          <li><a href="/tools/html5integrator/" target="_top">HTML5 Integrator</a></li>
          <li><a href="/tools/VASTchecker/" target="_top">VAST Checker</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link">AdTech Tools</a>
        <ul>
          <li><a href="/tools/AdGap/" target="_top">AdGap</a></li>
          <li><a href="/tools/badAdRequests/" target="_top">Bad Ad Requests</a></li>
          <li><a href="/tools/blocktrack/" target="_top">Blocktrack</a></li>
          <li><a href="/tools/blocktrack_mobile/" target="_top">Blocktrack Mobile</a></li>
          <li><a href="/tools/crawler/" target="_blank">Crawler</a></li>
          <li><a href="/tools/flairfire/" target="_top">Flairfire</a></li>
          <li><a href="/tools/ovklib/" target="_top">OVK Libary</a></li>
          <li><a href="/tools/pageSetGen/" target="_top">PageSet Generator</a></li>
          <li><a href="/tools/VideoFillrates/" target="_top">Video Fillrates</a></li>
          <li><a href="/tools/VideoStats/" target="_top">Video Stats</a></li>
          <li><a href="/tools/Placemanagement/" target="_top">Placements</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" target="_blank" href="https://console.appnexus.com/">Appnexus Console</a></li>
      <li class="nav-item"><a class="nav-link" target="_blank" href="https://fplanner.mediaimpact.de/">FPlanner</a></li>
      <li class="nav-logo">
        <a class="navbar-brand"><img class="logo" src="https://adtechnology.axelspringer.com/assets/img/logorot_kl.png" /></a>
      </li>
    </ul>
  </div>
</nav>
<div id="navbarPlacebo"></div>
