<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item" *ngFor="let navbarMainElement of mainEntries">
        <a *ngIf="!isString(navbarMainElement.url);" class="nav-link">{{navbarMainElement.name}}</a>
        <ul *ngIf="!isString(navbarMainElement.url); else noUl">
          <ng-container *ngFor="let navbarElement of navbarMainElement.url">
            <li *ngIf="navbarElement.permissionLevel <= user.permissionLevel;">
              <a href="{{navbarElement.url}}" target="{{navbarElement.target}}">{{navbarElement.name}}</a>
            </li>
            <ng-template #notPermitted>
              <a>{{navbarElement.name}}</a>
            </ng-template>
          </ng-container>
        </ul>
        <ng-template #noUl>
          <a class="nav-link" target="{{navbarMainElement.target}}" href="{{navbarMainElement.url}}">{{navbarMainElement.name}}</a>
        </ng-template>
      </li>
      <li class="nav-logo">
        <a class="navbar-brand"><img class="logo" src="{{logoUrl}}" /></a>
      </li>
    </ul>
  </div>
</nav>
<div id="navbarPlacebo"></div>
