<div id="content">
  <div id="wrapper">
    <div id='firstContainer' class='Container'>
      <app-datepicker [(actualSelection)]="datepicker" (change)="loadList()"></app-datepicker>
    </div>
    <div id='secondContainer'>
      <div>
        <div class="filter" id="listFilter">
          <span>Placement Filter (RegExp): </span>
          <input title="listFilterInput" type="text" value="" [(ngModel)]="filter.text">
        </div>
        <div class="dropDownFilter">
          <span>Publisher Filter: </span>
          <select id="publisherFilter" title="publisherFilter" [(ngModel)]="filter.publisher">
            <option value=""></option>
            <option *ngFor="let publisher of publisher">{{publisher.name}}</option>
          </select>
        </div>
        <ul id="errorList">
          <li>
            <span class="name">missing Placement</span>
            <span class="separator">|</span>
            <span class="publisher">Publisher</span>
            <span class="separator">|</span>
            <span class="device">Device</span>
            <span class="separator">|</span>
            <span class="placementGroup">Placement-Group</span>
            <span class="separator">|</span>
            <span class="placement">Placement</span>
            <span class="separator">|</span>
            <span class="count">count</span>
            <span class="separator">|</span>
            <span class="mail" onclick="ASCDP.badAdRequests.mailEntry()"></span>
            <span class="separator">|</span>
            <span class="create" onclick="ASCDP.badAdRequests.createPlacement()"></span>
          </li>
          <ng-container *ngFor="let element of loadedList">
            <li *ngIf="element.name.match(makeFilterExp((filter.publisher !== '' ? '^' + filter.publisher + '.*' : '') + filter.text));">
              <span class="name" (click)="toggleURIList(this)">{{element.name}}</span>
              <span class="separator">|</span>
              <span class="publisher {{publisherObject[element.publisher] ? '' : 'error'}}">{{element.publisher}}</span>
              <span class="separator">|</span>
              <span class="device {{devices[element.device] ? '' : 'error'}}">{{element.device}}</span>
              <span class="separator">|</span>
              <span class="placementGroup {{placementGroupsObject[element.publisher + '-' + element.device + '-' + element.placementGroup] ? '' : 'error'}}">{{element.placementGroup}}</span>
              <span class="separator">|</span>
              <span class="placement error">{{element.placement}}</span>
              <span class="separator">|</span>
              <span class="count">{{element.count}}</span>
              <span class="separator">|</span>
              <span class="mail" (click)="mailEntry(element.publisher + '-' + element.device + '-' + element.placementGroup)"></span>
              <span class="separator">|</span>
              <span class="create" (click)="createPlacement(element.publisher + '-' + element.device + '-' + element.placementGroup)"></span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
