td {
  border: 1px solid;
}

app-datepicker {
  position: absolute;
  width: 220px;
  display: inline-block;
  vertical-align: top;
  right: 1%;
}

app-datepicker ul {
  padding: 0px;
  margin: 0;
}

app-datepicker ul li{
  list-style-type: none;
  padding: 5px;
}

app-datepicker ul li h3 {
  display: inline;
  padding-right: 5px;
}

#firstContainer span{
  font: 14px bolder;
  border: solid 1px #fff;
  background:#cf0f0f;
  color: #fff;
  border-radius: 10px 0 10px 0;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
#firstContainer span.selected{
  transition-duration: 1s;
  background:#efefef;
  color: #cf0f0f;
  border: solid 1px #cf0f0f;
}

#errorList {
  list-style-type: none;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

#errorList li {
  color: #000000;
  background: #ffffff;
  border-bottom: dotted 1px;
}

#errorList li:first-of-type{
  border-bottom: solid #000 1px;
  background: #000000;
  color: #ffffff;
}

ul#errorList li ul.urlList {
  background: beige;
  list-style-type: none;
  border-bottom: 1px solid;
  padding: 5px 20px;
}

ul#errorList li ul.urlList li {
  background: beige;
  color: #000;
  border: none;
}

span.name, span.count, span.publisher, span.device, span.placement, span.placementGroup, .mail, .create {
  vertical-align: top;
  position: relative;
  display: inline-block;
  height: 20px;
}

span.name {
  width: 600px;
}
span.separator {
  padding-right: 3px;
}
span.publisher {
  width: 120px;
}
span.device, span.count {
  width: 50px;
}
span.placementGroup {
  width: 250px;
}
span.placement {
  width: 140px;
}
.mail, .create {
  background-size: contain;
  width: 20px;
  cursor: pointer;
}
span.mail {
  background-image: url('/src/assets/images/mail.png');
}
span.create {
  background-image: url('/src/assets/images/add.png');
}
.filter, .dropDownFilter {
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
}


